.md_61575_j_map{position:relative; font-size:12px;float: left; margin: 0px 55px 0 80px}
.md_61575_j_map .title{background:url(img/nc_icon_01.gif) no-repeat 0 50%;float:left;color:#b82700;font:normal 21px/25px;left:10px;padding-left:20px;position:absolute;top:15px;}
.md_61575_j_map .title a{color:#b82700;}
.md_61575_j_map .md_bd{padding:18px 44px 34px 44px; }
.md_61575_j_map .maparea{width:628px;height:455px;position:relative;background:url(/static/img/map.jpg) left top no-repeat;}
.md_61575_j_map .maparea .map {position:absolute;}

.md_61575_j_map .maparea a {padding:3px;color:#006;}
.md_61575_j_map .maparea a:hover {background:#40b4ea;color:#fff;text-decoration:none;padding:3px;}
.md_61575_j_map .maparea .map1 {left:293px;top:198px;}
.md_61575_j_map .maparea .map2 {left:302px;top:292px;}
.md_61575_j_map .maparea .map3 {left:363px;top:243px;}
.md_61575_j_map .maparea .map4 {left:360px;top:278px;}
.md_61575_j_map .maparea .map5 {left:352px;top:324px;}
.md_61575_j_map .maparea .map6 {left:363px;top:397px;}
.md_61575_j_map .maparea .map6a {left:395px;top:387px;}
.md_61575_j_map .maparea .map7 {left:329px;top:430px;}
.md_61575_j_map .maparea .map8 {left:371px;top:370px;}
.md_61575_j_map .maparea .map9 {left:422px;top:341px;}
.md_61575_j_map .maparea .map10 {left:397px;top:316px;}
.md_61575_j_map .maparea .map11 {left:445px;top:301px;}
.md_61575_j_map .maparea .map12 {left:410px;top:269px;}
.md_61575_j_map .maparea .map13 {left:454px;top:269px;}
.md_61575_j_map .maparea .map14 {left:431px;top:243px;}
.md_61575_j_map .maparea .map15 {left:412px;top:211px;}
.md_61575_j_map .maparea .map16 {left:386px;top:188px;}
.md_61575_j_map .maparea .map17 {left:414px;top:169px;}
.md_61575_j_map .maparea .map18 {left:395px;top:146px;}
.md_61575_j_map .maparea .map19 {left:450px;top:139px;}
.md_61575_j_map .maparea .map20 {left:473px;top:105px;}
.md_61575_j_map .maparea .map21 {left:76px;top:154px;}
.md_61575_j_map .maparea .map22 {left:204px;top:157px;}
.md_61575_j_map .maparea .map23 {left:193px;top:211px;}
.md_61575_j_map .maparea .map24 {left:111px;top:266px;}
.md_61575_j_map .maparea .map25 {left:251px;top:287px;}
.md_61575_j_map .maparea .map26 {left:241px;top:364px;}
.md_61575_j_map .maparea .map27 {left:296px;top:336px;}
.md_61575_j_map .maparea .map28 {left:313px;top:374px;}
.md_61575_j_map .maparea .map29 {left:320px;top:158px;}
.md_61575_j_map .maparea .map30 {left:324px;top:240px;}
.md_61575_j_map .maparea .map31 {left:356px;top:198px;}
.md_61575_j_map .maparea .map32 {left:459px;top:369px;}
.md_61575_j_map .maparea .map33 {left:476px;top:64px;}

.md_61575_j_map .maparea .map .box {background:#40b4ea;border:1px solid #40b4ea;position:absolute;left:-178px;top:-3px;width:166px; padding:2px 3px 3px 10px;z-index:9999;}
.md_61575_j_map .maparea .map .box .box2{height:217px; overflow-y:auto; overflow-x:hidden;}
.md_61575_j_map .maparea .map .box p {background:url(img/dian2.jpg) left 9px no-repeat;padding:3px 0 3px 3px;zoom:1; line-height:25px; font-size:14px;}
.md_61575_j_map .maparea .map .box span {display:block;text-align:right;font-family:"ו";color:#faf103;padding-top:3px;}
.md_61575_j_map .maparea .map .box span b {color:#faf103;font-weight:bold;}
.md_61575_j_map .maparea .map .box a {padding:0;color:#fff;}
.md_61575_j_map .maparea .map .box a:hover {font-weight:normal;background:#c0e6f7;color:#063a52;text-decoration:none;padding:4px;}
.md_61575_j_map .maparea .side1 .box {left:auto;right:-178px;}
.md_61575_j_map .maparea .side2 .box {left:auto;top:auto;right:-178px;bottom:-3px;}