*{text-align:center;}
#gmap {display:block; width:550px; height:617px; background:url(../img/map.jpg) no-repeat; position:relative; margin:0 auto 2em auto;}
#gmap a {color:/000; font-family:arial, sans-serif; font-size:1.2em; font-weight:bold; text-transform:uppercase;}

#title2, #title2:visited {display:block; width:550px; height:617px; padding-top:260px; position:absolute; left:0; top:0; cursor:default; text-decoration:none;}
* html #title2 {height:617px; he\ight:0;}/*IE6.0ÒÔÏÂÖÐÏÔÊ¾*/
#gmap #title2:hover {background:transparent url(group_col.gif) no-repeat 0 0; overflow:visible; color:/c00;}

/*ÐÂ½®*/
#xj {display:block; width:206px; height:0; padding-top:156px; overflow:hidden; position:absolute; left:14px; top:63px;}
* html #xj {height:156px; he\ight:0;text-indent:-9000px;}
#xj:hover {background:transparent url(../img/xj1.gif) no-repeat 0 0;overflow:visible;text-indent:-9000px;}

/*Î÷²Ø*/
#xz {display:block; width:200px; height:0; padding-top:124px; overflow:hidden; position:absolute; left:37px; top:207px;}
* html #xz {height:124px; he\ight:0;}
#xz:hover {background:transparent url(../img/xz.gif) no-repeat  0 0;overflow:visible;text-indent:-9000px;}

/*Çàº£*/
#qh {display:block; width:132px; height:0; padding-top:96px; overflow:hidden; position:absolute; left:147px; top:184px;}
* html #qh {height:96px; he\ight:0;}
#qh:hover {background:transparent url(../img/qh.gif) no-repeat 0 0; height:-20px; overflow:visible;text-indent:-9000px;}

/*¸ÊËà*/
#gs {display:block; width:148px; height:0; padding-top:123px; overflow:hidden; position:absolute; left:187px; top:149px;}
* html #gs {height:123px; he\ight:0;}
#gs:hover {background:transparent url(../img/gsh.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*ÄÚÃÉ¹Å*/
#lmg {display:block; width:226px; height:0; padding-top:196px; overflow:hidden; position:absolute; left:234px; top:17px;}
* html #lmg {height:196px; he\ight:0;}
#lmg:hover {background:transparent url(../img/lm.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*ºÚÁú½­*/
#hlj {display:block; width:116px; height:0; padding-top:106px; overflow:hidden; position:absolute; left:420px; top:13px;}
* html #hlj {height:106px; he\ight:0;}
#hlj:hover {background:transparent url(../img/hlj.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*ÄþÏÄ*/
#nx {display:block; width:34px; height:0; padding-top:47px; overflow:hidden; position:absolute; left:290px; top:191px;}
* html #nx {height:47px; he\ight:0;}
#nx:hover {background:transparent url(../img/nx.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*¼ªÁÖ*/
#jl {display:block; width:88px; height:0; padding-top:59px; overflow:hidden; position:absolute; left:436px; top:96px;}
* html #jl {height:59px; he\ight:0;}
#jl:hover {background:transparent url(../img/jl.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*ÁÉÄþ*/
#ln {display:block; width:61px; height:0; padding-top:53px; overflow:hidden; position:absolute; left:423px; top:129px;}
* html #ln {height:53px; he\ight:0;}
#ln:hover {background:transparent url(../img/ll.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*É½¶«*/
#sd {display:block; width:69px; height:0; padding-top:45px; overflow:hidden; position:absolute; left:396px; top:198px;}
* html #sd {height:45px; he\ight:0;}
#sd:hover {background:transparent url(../img/sd.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*ºÓ±±*/
#hb {display:block; width:58px; height:0; padding-top:81px; overflow:hidden; position:absolute; left:377px; top:146px;}
* html #hb {height:81px; he\ight:0;}
#hb:hover {background:transparent url(../img/heb.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*±±¾©*/
#bj {display:block; width:17px; height:0; padding-top:18px; overflow:hidden; position:absolute; left:394px; top:167px;}
* html #bj {height:18px; he\ight:0;}
#bj:hover {background:transparent url(../img/bj.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*Ìì½ò*/
#tj {display:block; width:15px; height:0; padding-top:20px; overflow:hidden; position:absolute; left:406px; top:175px;}
* html #tj {height:20px; he\ight:0;}
#tj:hover {background:transparent url(../img/tj.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*ÉÂÎ÷*/
#shx {display:block; width:55px; height:0; padding-top:93px; overflow:hidden; position:absolute; left:303px; top:188px;}
* html #shx {height:93px; he\ight:0;}
#shx:hover {background:transparent url(../img/shx.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*É½Î÷*/
#sx {display:block; width:37px; height:0; padding-top:73px; overflow:hidden; position:absolute; left:350px; top:173px;}
* html #sx {height:73px; he\ight:0;}
#sx:hover {background:transparent url(../img/sx.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*ºÓÄÏ*/
#hn {display:block; width:62px; height:0; padding-top:56px; overflow:hidden; position:absolute; left:351px; top:224px;}
* html #hn {height:56px; he\ight:0;}
#hn:hover {background:transparent url(../img/hl.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*½­ËÕ*/
#js {display:block; width:56px; height:0; padding-top:50px; overflow:hidden; position:absolute; left:409px; top:232px;}
* html #js {height:50px; he\ight:0;}
#js:hover {background:transparent url(../img/js.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*°²»Õ*/
#ah {display:block; width:52px; height:0; padding-top:63px; overflow:hidden; position:absolute; left:397px; top:239px;}
* html #ah {height:63px; he\ight:0;}
#ah:hover {background:transparent url(../img/ah.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*ÉÏº£*/
#sh {display:block; width:10px; height:0; padding-top:20px; overflow:hidden; position:absolute; left:460px; top:273px;}
* html #sh {height:7px; he\ight:0;}
#sh:hover {background:transparent url(../img/sh.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*Õã½­*/
#zj {display:block; width:40px; height:0; padding-top:50px; overflow:hidden; position:absolute; left:433px; top:275px;}
* html #zj {height:50px; he\ight:0;}
#zj:hover {background:transparent url(../img/zj.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*½­Î÷*/
#jx {display:block; width:51px; height:0; padding-top:67px; overflow:hidden; position:absolute; left:388px; top:297px;}
* html #jx {height:67px; he\ight:0;}
#jx:hover {background:transparent url(../img/jx.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*¸£½¨*/
#hj {display:block; width:47px; height:0; padding-top:59px; overflow:hidden; position:absolute; left:414px; top:313px;}
* html #hj {height:59px; he\ight:0;}
#hj:hover {background:transparent url(../img/hj.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*¹ã¶«*/
#gd {display:block; width:81px; height:0; padding-top:63px; overflow:hidden; position:absolute; left:350px; top:352px;}
* html #gd {height:63px; he\ight:0;}
#gd:hover {background:transparent url(../img/gd.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*º£ÄÏ*/
#hl {display:block; width:25px; height:0; padding-top:21px; overflow:hidden; position:absolute; left:338px; top:418px;}
* html #hl {height:21px; he\ight:0;}
#hl:hover {background:transparent url(../img/hal.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*¹ãÎ÷*/
#gx {display:block; width:80px; height:0; padding-top:59px; overflow:hidden; position:absolute; left:294px; top:343px;}
* html #gx {height:59px; he\ight:0;}
#gx:hover {background:transparent url(../img/gx.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*¹óÖÝ*/
#gz {display:block; width:62px; height:0; padding-top:52px; overflow:hidden; position:absolute; left:284px; top:312px;}
* html #gz {height:52px; he\ight:0;}
#gz:hover {background:transparent url(../img/gz.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*ÔÆÄÏ*/
#yn {display:block; width:92px; height:0; padding-top:92px; overflow:hidden; position:absolute; left:218px; top:313px;}
* html #yn {height:92px; he\ight:0;}
#yn:hover {background:transparent url(../img/yn.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*ËÄ´¨*/
#sc {display:block; width:111px; height:0; padding-top:96px; overflow:hidden; position:absolute; left:222px; top:250px;}
* html #sc {height:96px; he\ight:0;}
#sc:hover {background:transparent url(../img/sc.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*ÖØÇì*/
#cq {display:block; width:51px; height:0; padding-top:47px; overflow:hidden; position:absolute; left:299px; top:275px;}
* html #cq {height:47px; he\ight:0;}
#cq:hover {background:transparent url(../img/chq.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*ºþÄÏ*/
#hun {display:block; width:56px; height:0; padding-top:65px; overflow:hidden; position:absolute; left:339px; top:298px;}
* html #hun {height:65px; he\ight:0;}
#hun:hover {background:transparent url(../img/hn.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*ºþ±±*/
#hub {display:block; width:82px; height:0; padding-top:49px; overflow:hidden; position:absolute; left:332px; top:261px;}
* html #hub {height:49px; he\ight:0;}
#hub:hover {background:transparent url(../img/hb.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}

/*Ì¨Íå*/
#tw {display:block; width:17px; height:0; padding-top:40px; overflow:hidden; position:absolute; left:462px; top:347px;}
* html #tw {height:40px; he\ight:0;}
#tw:hover {background:transparent url(../img/tw.gif) no-repeat 0 0; overflow:visible;text-indent:-9000px;}