$def with (content)
<!DOCTYPE html>
<html>
<head>
	<title>$content.title</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gbk">
	<meta name="keywords" content="陌陌,宅男,女神,全国,约会，交友">
	<meta name="baidu_union_verify" content="2343070c7257aaa7e8e5b1160e986f2d">
	<meta name="description" content="陌陌女神-更直观的查看女神">
	<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script-->
	<script src="/static/js/jquery.js" type="text/javascript"></script>
	<script src="http://rhapsody.b0.upaiyun.com/momo/jquery.fancybox.pack.js"></script>
	<link href="/static/css/index.css" rel="stylesheet">
	<link href="/static/css/dt.css" rel="stylesheet">
	<link href="/static/css/jquery.fancybox.css" rel="stylesheet">
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36943868-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>
<div id="page">
	<div id = "header">
		<div class="options">
		</div>
			<div id="area" title='$content.title'>$content.title</div>
				<a id="homepage" title="首页" href="/">选择地区</a>
				$if content.id == "0":
					<a id="homenav" title="$(content.title)Top100" style="color:#008ED3" href="/top/$content.ctitle">TOP100</a>
					<a id="homerandom" title="$(content.title)随便看" href="/area/$content.ctitle">随便看看</a>
				$else:
					<a id="homenav" title="$(content.title)Top100" href="/top/$content.ctitle">TOP100</a>
					<a id="homerandom" title="$(content.title)随便看" style="color:#008ED3" href="/area/$content.ctitle">随便看看</a>
	</div>	
		$:content
	<div id="loading">正在加载....</div>
	<div class="clear"> </div>
</div>
</body>
</html>
