$def with (title)
$var title: $title
	<dl id="gmap">
		<dt><a id="title2" href="/area/sh"></a></dt>
		<dd><a id="xj"  href="/area/xj"></a></dd>	
		<dd><a id="xz"  href="/area/xz"></a></dd>
		<dd><a id="qh"  href="/area/qh"></a></dd>		
		<dd><a id="gs"  href="/area/gs"></a></dd>
		<dd><a id="lmg"  href="/area/lmg"></a></dd>
		<dd><a id="hlj" href="/area/hlj"></a></dd>	
		<dd><a id="jl"  href="/area/jl"></a></dd>
		<dd><a id="ln"  href="/area/ln"></a></dd>
		<dd><a id="sd"  href="/area/sd"></a></dd>
		<dd><a id="hb"  href="/area/hb"></a></dd>
		<dd><a id="sx"  href="/area/sx"></a></dd>
		<dd><a id="bj"  href="/area/bj"></a></dd>
		<dd><a id="tj"  href="/area/tj"></a></dd>
		<dd><a id="shx"  href="/area/shx"></a></dd>		
		<dd><a id="nx"  href="/area/nx"></a></dd>	
		<dd><a id="hn"  href="/area/hn"></a></dd>	
		<dd><a id="js"  href="/area/js"></a></dd>
		<dd><a id="ah"  href="/area/ah"></a></dd>
		<dd><a id="sh"  href="/area/sh"></a></dd>
		<dd><a id="zj"  href="/area/zj"></a></dd>	
		<dd><a id="jx"  href="/area/jx"></a></dd>
		<dd><a id="fj"  href="/area/fj"></a></dd>
		<dd><a id="gd"  href="/area/gd"></a></dd>
		<dd><a id="hl"  href="/area/hn"></a></dd>
		<dd><a id="gx"  href="/area/gx"></a></dd>	
		<dd><a id="gz"  href="/area/gz"></a></dd>
		<dd><a id="yn"  href="/area/yn"></a></dd>	
		<dd><a id="sc"  href="/area/sc"></a></dd>
		<dd><a id="cq"  href="/area/cq"></a></dd>
		<dd><a id="hun"  href="/area/hun"></a></dd>		
		<dd><a id="hub"  href="/area/hub"></a></dd>
		<dd><a id="tw"  href="/area/tw"></a></dd>
		<!--<dd><a id="xg" t href="/"></a></dd>
		<dd><a id="am"  href="/"></a></dd>	
