$def with (users,city,chinesecity,ide)	
$var title: $chinesecity
$var ctitle: $city
$var id: $ide

<div class="headerSpacer">
</div>
<div id="images">
			$for user in users:
			<div class="data" >
				<a href="/profile/$(user['_id']['$oid'])" class="fancy" data-fancybox-type="iframe" title="$user['name']"><img width=150px src="http://momonvshen.b0.upaiyun.com/$user['photos'][0][0:2]/$user['photos'][0][2:4]/$(user['photos'][0])_L.jpg!momoavatar"></img>
				</a>
				<a class="fav-btn fav-add" data-id="$user['_id']['$oid']" title="喜欢她" >$user['likes']</a>
			</div>
</div>

<p title="$city" id="city" display="none"></p>


<script>
//the initial variable
var city = jQuery("#city").attr('title');
//Photo layout 
window.onload = function(){
	pubu();
}
//Photo layout->action 
function pubu(){
		var margin = 10;
		var wrap = document.getElementById("images");
		var li = jQuery(".data");
		var li_W = li[0].offsetWidth + margin;
		var h = [];
		li.css("position","absolute");
		var n  = wrap.offsetWidth/li_W|0;
		for(var i = 0; i < li.length; i++){
			li_H = li[i].offsetHeight;
			if(i < n){
				h[i] = li_H;
				li.eq(i).css("top",0);
				li.eq(i).css("left",i*li_W);
			}else{
				min_H = Math.min.apply(null,h);
				minKey = getarraykey(h,min_H);
				h[minKey] += li_H + margin;
				li.eq(i).css("top",min_H + margin);
				li.eq(i).css("left",minKey * li_W);
			}
		}		
}
var j = 1;
//Ajax get user data ->action
function getmore(i){
	jQuery("#loading").show();
	jQuery.ajax({
		type:"GET",
		url: "/topbuget",
		data: {"cursor":i,"city":city},
		dataType: "JSON",
		error: function(){
			alert('err')
		},
		success: function(data){
			jQuery("#loading").hide();
			for(var m=0;m<data.length;m++){
				var html = "<div class=data ><a class=fancy href=/profile/"+data[m]._id['\$oid']+" data-fancybox-type=iframe title="+data[m].name+"><img width=150px src=http://momonvshen.b0.upaiyun.com/"+data[m].photos[0].substring(0,2)+"/"+data[m].photos[0].substring(2,4)+"/"+data[m].photos[0]+"_L.jpg!momoavatar></img></a><a class='fav-btn fav-add' data-id="+data[m]._id['\$oid']+" title=喜欢她>"+data[m].likes+"</a></div>";
				jQuery("#images").append(html);
				jQuery("#loading").hide();
			}
			pubu();
			j = 1;
		}
	})
}
//scroll to bottom -> action
jQuery(window).bind("scroll",function(){
	var i = jQuery(".data").length + 1;
	if(i !=101 ){
		if(jQuery(document).scrollTop() + jQuery(window).height() > jQuery(document).height() - 800 && j == 1){
		j = 0;
		getmore(i);
		}
	}else{
		pubu();
	} 
}) 

function getarraykey(s,v){
	for(k in s)
		if(s[k] == v) return k
}
</script>
<script src="/static/js/jquery.cookie.js">
</script>
<script>
jQuery(function(){
	jQuery(".fav-btn").live('click',function(){
		var self = jQuery(this);
		var hasFav = self.hasClass('fav-cancel')? 1:0;
		var paras = {id: self.attr('data-id')}
	        if(jQuery.cookie('the_cookie'+self.attr('data-id'))){
                        alert("you only have one chance to love A Godness@@ ")
                }else{
		var cookie = jQuery.cookie('the_cookie'+self.attr('data-id'),'Gonn',{expires:60*1000*60*24*30});
		jQuery.ajax({
			type:hasFav? 'POST':'GET',
			url:'/updatelikes',
			data: paras,
			error: function(){
				alert('err')
			},
			success: function(user){
				data = JSON.parse(user);
				for(key in data[0]){
					if(key == "likes"){
						text = data[0][key]
					}
				}
				self.text(text);				
					if(hasFav){
						self.removeClass('fav-cancel').addClass('fav-add');
					}else{
						self.removeClass('fav-add').addClass('fav-cancel');
					}
			},
			dataType:"JSON"
		})}
	});
	jQuery(".fancy").fancybox({
		maxWidth:640,
		maxHeight:640,
		width:600,
		fitToView:false,
		height:500,
		closeClick:true,
		openEffect:"none",
		closeEffect:"none",
		nextClick:false,
		closeBtn:true,
		modal:false,
		mousewheel:false,
		helpers:{
			title:{type:"float"},
			buttons:{}
		}
	
	})
})
</script>
<!--script>

jQuery(function(){
	var idd = 2;
	jQuery(".fancy").live('click',function(){
		if(!jQuery.cookie('the_cookie'+idd)){
			var url = ["http://lm.lrswl.com/cf.aspx?88&mmnvshen","http://lm.lrswl.com/cf.aspx?2028&mmnvshen"];
			var random = Math.floor(Math.random()*2);
			window.open(url[random]);
			var cookie = jQuery.cookie('the_cookie'+idd,'Gonn',{expires:60*1000*60*24})
		}
	})
})
</script-->



		


