$def with (users,city,chinesecity,ide)	
$var title: $chinesecity
$var ctitle: $city
$var id:$ide
<div class="headerSpacer"> </div>	
<div id="ad1">
<a href="http://lm.lrswl.com/cf.aspx?1667&mmnvshen" target="_blank"><img src="http://lm.lrswl.com/upload/20121114094843.gif" border="0"></a>
<span>点击图片可查看美女陌陌ID:)</span>
</div>

<div id="ad2">
<a class="button" href="/area/$city">换一换</a>
</div>
<div id="hypbutton">
	
</div>
<div id="images">
			$for user in users:
			<div class="data" >
				<a href="/profile/$(user['_id']['$oid'])"  class="fancy" data-fancybox-type="iframe" title="$user['name']"><img width=150px src="http://img.immomo.com/album/$user['photos'][0][0:2]/$user['photos'][0][2:4]/$(user['photos'][0])_S.jpg" ></img>
				</a>
				<a class="fav-btn fav-add" data-id="$user['_id']['$oid']"  title="喜欢她">$user['likes']</a>
			</div>
</div>

<p title="$city" id="city" display="none"></p>


<script>
//the initial variable

var city = jQuery("#city").attr('title');


//Photo layout 
window.onload = function(){
	pubu();
}
//Photo layout->action 
function pubu(){
		var margin = 10;
		var wrap = document.getElementById("images");
		var li = jQuery(".data");
		var li_W = li[0].offsetWidth + margin;
		var h = [];
		li.css("position","absolute");
		var n  = wrap.offsetWidth/li_W|0;
		for(var i = 0; i < li.length; i++){
			li_H = li[i].offsetHeight;
			if(i < n){
				h[i] = li_H;
				li.eq(i).css("top",0);
				li.eq(i).css("left",i*li_W);
			}else{
				min_H = Math.min.apply(null,h);
				minKey = getarraykey(h,min_H);
				h[minKey] += li_H + margin;
				li.eq(i).css("top",min_H + margin);
				li.eq(i).css("left",minKey * li_W);
			}
		}		
}
var j = 1;
//Ajax get user data ->action
// function getmore(i){
// 	jQuery("#loading").show();
// 	jQuery.ajax({
// 		type:"GET",
// 		url: "/pbget",
// 		data: {"cursor":i,"city":city},
// 		dataType: "JSON",
// 		error: function(){
// 			alert('err')
// 		},
// 		success: function(data){
// 			jQuery("#loading").hide();
// 			for(var m=0;m<data.length;m++){
// 				var html = "<div class=data title="+ data[m].name +"><a class=fancy href=/profile/"+data[m]._id['\$oid']+" data-fancybox-type=iframe title="+data[m].name+"><img width=150px src=http://img.immomo.com/album/"+data[m].photos[0].substring(0,2)+"/"+data[m].photos[0].substring(2,4)+"/"+data[m].photos[0]+"_S.jpg></img></a><a class='fav-btn fav-add' data-id="+data[m]._id['\$oid']+">"+data[m].likes+"</a></div>";
// 				jQuery("#images").append(html);
// 				jQuery("#loading").hide();
// 			}
// 			pubu();
// 			j = 1;
// 		}
// 	})
// }
//scroll to bottom -> action
// jQuery(window).bind("scroll",function(){
// 	var i = jQuery(".data").length + 1;
// 	// alert(jQuery(document).scrollTop()+jQuery(window).height());
// 	// alert(jQuery(document).height()); 
// 	if((jQuery(document).scrollTop() + jQuery(window).height()) > (jQuery(document).height() - 800) && (j == 1)){
// 		j = 0;
//     getmore(i);
// 	}
// })

function getarraykey(s,v){
	for(k in s)
		if(s[k] == v) return k
}
</script>
<script src="/static/js/jquery.cookie.js" type="text/javascript">
</script>
<script>
jQuery(function(){
	jQuery(".fav-btn").live('click',function(){
		var self = jQuery(this);
		var hasFav = self.hasClass('fav-cancel')? 1:0;
		var paras = {id: self.attr('data-id')};
		if(jQuery.cookie('the_cookie'+self.attr('data-id'))){
			alert("You have only one chance to love the Godeness @@")
		}else{
		var cookie = jQuery.cookie('the_cookie'+self.attr('data-id'),'Gonn',{expires:60*1000*60*24*7});
		jQuery.ajax({
			type:hasFav? 'POST':'GET',
			url:'/updatelikes',
			data: paras,
			error: function(){
				alert('err')
			},
			success: function(user){
				data = JSON.parse(user);
				for(key in data[0]){
					if(key == "likes"){
						text = data[0][key]
					}
				}
				self.text(text);				
					if(hasFav){
						self.removeClass('fav-cancel').addClass('fav-add');
					}else{
						self.removeClass('fav-add').addClass('fav-cancel');
					}
			},
			dataType:"JSON"
		})}
	});
	jQuery(".fancy").fancybox({
		width:'70%',
		fitToView:false,
		height:'70%',
		closeClick:true,
		openEffect:"none",
		closeEffect:"none",
		nextClick:false,
		closeBtn:true,
		modal:false,
		mousewheel:false,
		helpers:{
			title:{type:"float"},
			buttons:{},
			overlay:{
				showEarly:true
			}
		}
	
	})
})
</script>
<script>
jQuery(function(){
	var idd = 2;
	jQuery(".fancy").live('click',function(){
		if(!jQuery.cookie('the_cookie'+idd)){
			window.open("http://lm.lrswl.com/cf.aspx?88&mmnvshen")
			var cookie = jQuery.cookie('the_cookie'+idd,'Gonn',{expires:60*1000*60*24})
		}
	})

})
</script>
<!--script src="http://lm.lrswl.com/cf.aspx?action=adget&ad_id=2030&username=momonvshen&lowunionusername="></script>
<script src="http://lm.lrswl.com/cf.aspx?action=adget&ad_id=2017&username=momonvshen&lowunionusername="></script>
<script src="http://lm.lrswl.com/cf.aspx?action=adget&ad_id=2016&username=momonvshen&lowunionusername="></script-->
<script src="http://lm.lrswl.com/cf.aspx?action=adget&ad_id=2008&username=mmnvshen&lowunionusername="></script>
<script src="http://lm.lrswl.com/cf.aspx?action=adget&ad_id=2050&username=mmnvshen&lowunionusername="></script>
<script src="http://lm.lrswl.com/cf.aspx?action=adget&ad_id=1845&username=mmnvshen&lowunionusername="></script>

<!--script type="text/javascript">
 u_a_client="3805";
 u_a_width="120";
 u_a_height="270";
 u_a_zones="4952";
 u_a_type="1"
</script>
<script src="http://www.soo-boo.com/i.js"></script>
<script type="text/javascript">
 u_a_client="3805";
 u_a_width="248";
 u_a_height="110";
 u_a_zones="4953";
 u_a_type="1"
</script>
<script src="http://www.soo-boo.com/i.js"></script-->
